:host {
  display: block;
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  gap: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  font-size: 2em;

  .second {
    background: linear-gradient(90deg, #fff, #ffc107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 4px;
    border-radius: 1px;
  }
}

mat-toolbar {
  background: linear-gradient(90deg, #7b61ff, #1eb1fc);
  color: white;
}

.highlight {
  background: linear-gradient(90deg, #7b61ff, #1eb1fc);
  color: white;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .auth {
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  mat-toolbar {
    background: linear-gradient(90deg, #7b61ff, #1eb1fc);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
}

.copyright {
  padding-right: 10px;
}

.info {
  display: flex;
  gap: 20px;

  .welcome {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-top: 10px;
  }
}

.content {
  height: 100%;
}
