.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  gap: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  cursor: pointer;

  .second {
    color: #3f51b5;
    background-color: whitesmoke;
    padding: 4px;
    border-radius: 1px;
  }
}

$highlight-color: darkred;
$highlight-hover-color: darken($highlight-color, 20%);

.highlight {
  background-color: $highlight-color;
  color: white;
  &:hover {
    background-color: $highlight-hover-color;
  }

  .auth {
    color: whitesmoke;
  }
}
