::ng-deep .mdc-dialog__container {
  width: 664px;

  form {
    width: 100%;
    text-align: center;
    mat-form-field {
      width: 70%;
      margin-bottom: 1em;
    }
  }
  h2 {
    text-align: center;
  }

  .btn-add {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 15px;
    button {
      width: 140px;
    }
  }

  .file {
    input {
      width: 60%;
      margin-bottom: 1em;
    }
    width: 500px;
  }

  .time-select-container {
    form {
      width: 35%;
      text-align: center;
      mat-form-field {
        width: 35%;
        margin-bottom: 1em;
      }
    }

    .time-select-field {
      flex: 1;
      margin-right: 8px;
    }
  }
}
